------------------------------Inicio Andrea---------------------------------------------
<div style="font-family:arial;font-size:14px;">
	<strong>
		Andrea Rodr&iacute;guez
	</strong>
	<br />
	+502.5202.2108
	<br>
	<a href="http://www.grupotria.gt" style="color:#AAA !important;text-decoration: none !important;">
		www.grupotria.gt
	</a><br /><br />
	<img src="http://grupotria.gt/img/logotria.jpg" alt="Grupo Tria" width="100">
	<br><br>
</div>
------------------------------fin Andrea---------------------------------------------

------------------------------Inicio José---------------------------------------------
<div style="font-family:arial;font-size:14px;">
	<strong>
		Jos&eacute; Carlos P&eacute;rez<br />
	</strong>
	+502.3003.5808
	<br>
	<a href="http://www.grupotria.gt" style="color:#AAA !important;text-decoration: none !important;">
		www.grupotria.gt
	</a><br /><br />
	<img src="http://grupotria.gt/img/logotria.jpg" alt="Grupo Tria" width="100">
	<br><br>
</div>
------------------------------Fin José---------------------------------------------

------------------------------Inicio Ceci---------------------------------------------
<div style="font-family:arial;font-size:14px;">
	<strong>
		Cecilia Hern&aacute;ndez<br />
	</strong>
	+502.4214.2126
	<br>
	<a href="http://www.grupotria.gt" style="color:#AAA !important;text-decoration: none !important;">
		www.grupotria.gt
	</a><br /><br />
	<img src="http://grupotria.gt/img/logotria.jpg" alt="Grupo Tria" width="100">
	<br><br>
</div>
------------------------------Inicio Ceci---------------------------------------------
